
		document.getElementById("inp").addEventListener('change',readFile);
		document.getElementById("uploadSignature").addEventListener('submit',function(){
			
			console.log(document.getElementById("b64").value);

		}, false);

		function readFile(){

			if (this.files && this.files[0]) {
				var FR= new FileReader();

				FR.addEventListener("load", function(e) {
				document.getElementById("img").src = e.target.result;
				document.getElementById("b64").value = e.target.result;
			}); 
	
				FR.readAsDataURL( this.files[0] );
			}

		}