extends layout

block content
	.header
		nav.site_header.sticky-top.py-1
			container.d-flex.flex-column.flex-md-row.justify-content-between.bg-dark			
				a.navbar-brand.col-sm-3.col-md-2.mr-0(href="/") LOGO
				a.navbar-nav.text-nowrap.nav-link(href="/") Sign Out

		container-fluid
			row.col-md-2.d-none.d-md-block.bg-light.sidebar
				sidebar-sticky.nav.flex-column
					nav-item
						a.nav-link.active(href="/mainMenuAdmin") Dashboard
					nav-item
						a.nav-link(href="/addEmployee") Add user
					nav-item
						a.nav-link(href="/employees") Manage User
					nav-item
						a.nav-link(href="/addAdmin") Add admin
					nav-item
						a.nav-link(href="/admins") Manage admin
					nav-item
						a.nav-link(href="/") Business analysis

			main.col-md-9.ml-sm-auto.col-lg-10.px-4
				h1 Admin List
				table.table-responsive.table-hover
					captain
					thead-light
					tr.table-primary
						th.col-sm-3 Email
						th.col-sm-2 Action
					for d in admins
						tr
							td.col-sm-3= d.email
							td.col <a href=deleteAdmins?id=#{d.id}>Delete