extends layout

block content
	.container-fluid.p-0.m-0
		nav.navbar.mynavbar.sticky-top.px-2
			.container
				.d-none.d-md-block.py-2
					.d-flex.flex-row
						img.small_logo(src="/img/Logo.png")
						a.comp_name(href='/') Recognize
				.d-sm-flex.flex-sm-row.d-block.col.py-2.text-sm-left.text-center.pr-0
					.col.d-sm-flex.flex-sm-row.d-block.w-100.justify-content-start
						a.d-sm-flex.flex-sm-row.d-block.inactive-link(href='/') Home			
						a.d-sm-flex.flex-sm-row.d-block.active-link(href='/') FAQ
					.col.w-100
					.col.d-sm-flex.flex-sm-row.d-block.w-100.text-sm-left.text-center.justify-content-end.pr-0
						a.d-sm-flex.flex-sm-row.d-block.active-link(href='/login') Login
						a.d-sm-flex.flex-sm-row.d-block.active-link(href='/adminLogin') Admin

		.container.overflow-hidden.image-div.px-5.py-5.text-center.overflow-hidden
			.container-fluid
				.row
					h1.w-100.d-none.d-md-block.myheader.display-2.font-weight-bold.flex-wrap Recognize
					h1.secondaryheader.w-100.text-center.font-weight-italic Employee Recognition Made Simple
					p.thirdheader Recognize is an employee recongition program which easily allows you to award your employees for all their hard work while saving you time in the process!
				.row.justify-content-center.homebuttons
					.col-md-4.justify-content-center
						a.btn.btn-outline-secondary(href='/',role='button') Sign Up
					.col-md-4.justify-content-center
						a.btn.btn-outline-secondary(href='/login',role='button') Login
					.col-md-4.justify-content-center
						a.btn.btn-outline-secondary(href='/login',role='button') Admin
		.container.w-100.mycontainer
			.row.w-100.justify-content-center.my-2.mx-auto.text-center
				h1.w-100.myheader.font-weight-bold.flex-wrap Types of Awards
			.row.w-100.h-100.justify-content-center.my-2.mx-auto.text-center.p-2.text-center
				.col-md-4
					.home1.d-flex.align-items-center.h-auto.px-2.mx-auto
						h4.awardtypes.w-90 Employee of the Month
				.col-md-4 
					.home2.d-flex.align-items-center.h-auto.px-2.mx-auto
						h4.awardtypes.w-90 Employee of the Year
				.col-md-4  
					.home3.d-flex.align-items-center.h-auto.px-2.mx-auto  
						h4.awardtypes.w-90 Special Recognition Award

		//site footer
		hr.my-4
		footer.footer
			p © Software Capstone I | Group Lynx | <a href="https://github.com/wenwend/Employee_Recognition">Source