extends layout

block content
	.header
		nav.navbar.mynavbar.sticky-top
			.container-fluid
					img.small_logo.px-2.d-none.d-md-block(src="/img/Logo.png")
					a.comp_name.px-4.d-none.d-md-block(href='/') Recognize
					a.d-inline-block.inactive-link.px-3(href='/') Home			
					a.d-inline-block.px-3.active-link(href='/') FAQ
					a.d-inline-block.ml-auto-md.ml-3-sm.px-3.active-link(href='/login') Login
					a.d-inline-block.px-3.active-link(href='/adminLogin') Admin


		.position-relative.overflow-hidden.p-3.p-md-5.m-md-3.text-center.bg-light
			col-md-5.p-lg-5.mx-auto.my-5
				h1.display-4.font-weight-normal Employee Reward Program
			p Welcome to #{title}!
			p I've learned that people will forget what you said, people will forget what you did, but people will never forget how you made them feel. —Maya Angelou
			p
				a.btn.btn-outline-secondary(href='/login',role='button') Employee LOGIN

		.container
			h1.display-4.font-weight-normal.text-center Admin tool
			.d-md-flex.flex-md-equal.w-100.my-md-3.pl-md-3

				bg-light.mr-md-3.pt-3.px-3.pt-md-5.px-md-5.text-center.overflow-hidden
					my-3.py-3
						h2.display-5 Admin LOGIN
						p
							a.btn.btn-outline-secondary(href='/adminLogin',role='button') LOGIN

		.container
			h1.display-4.font-weight-normal.text-center About the Awards
			.d-md-flex.flex-md-equal.w-100.my-md-3.pl-md-3
				bg-light.mr-md-3.pt-3.px-3.pt-md-5.px-md-5.text-center.overflow-hidden
					my-3.py-3
						h2.display-5 Employee of Month/Quarter
						p.lead You made it!

				bg-light.mr-md-3.pt-3.px-3.pt-md-5.px-md-5.text-center.overflow-hidden
					my-3.py-3
						h2.display-5 Employee of the Year
						p.lead You made it!

				bg-light.mr-md-3.pt-3.px-3.pt-md-5.px-md-5.text-center.overflow-hidden
					my-3.py-3
						h2.display-5 Special Recognition
						p.lead You made it!

		//site footer
		hr.my-4
		footer.footer
			p © Software Capstone I | Group Lynx | <a href="https://github.com/wenwend/Employee_Recognition">Source