extends layout

block content
	if err
		.alert.alert-danger.aler-dismissable.fade.show(role="alert") #{err}
			button.close(type="button" data-dismiss="alert" aria-label="close")
				span(aria-hidden="true") &times;

	.container.text-center
		form(action='/postLogin',method='post')
			h1.h3.mb-3.font-weight-normal Please sign in
				
			input.form-control(required type="email", name="name" id="userEmail" placeholder="jon@gmail.com" autofocus)
				
			input.form-control(required type="password", name="pass" id="user-pass" placeholder="Your password here")
				
			input.btn.btn-primary.btn-block(type="submit", id="loginSubmit")

		p.mt-5.mb-3.text-muted &copy; 2018