extends layout

block content
	.header
		nav.navbar.navbar-expand-sm.mynavbar.sticky-top.align-content-start
			.container-fluid.align-self-center.d-sm-flex.flex-sm-column.d-md-flex
					img.small_logo.px-2.d-none.d-md-block(src="/img/Logo.png")
					a.comp_name.px-4.d-none.d-md-block(href='/') Recognize
					a.d-inline-block.inactive-link.px-3(href='/') Home			
					a.d-inline-block.px-3.active-link(href='/') FAQ
					a.d-inline-block.ml-auto-md.ml-3-sm.px-3.active-link(href='/login') Login
					a.d-inline-block.px-3.active-link(href='/adminLogin') Admin

	.container-fluid
		row
			nav.col-sm-3.col-md-3.d-none.d-md-block.bg-light.sidebar
				sidebar-sticky
					nav.flex-column
					
						a.nav-link.active(href="/mainMenu") Dashboard
					
						a.nav-link(href="/accountDetail") Account
					
						a.nav-link(href="/newPassEmployee") Update Password
					
						a.nav-link(href="/addSignature") Update Signature
					
						a.nav-link(href="/addAward") Create Award

						a.nav-link(href="/awards") Manage Award

			main.col-md-9.ml-sm-auto.col-lg-10.px-4
				h2 HI, #{name}!
				btn-toolbar.mb-2.mb-md-0
					btn-group.mr-2
						button.btn.btn-sm.btn-outline-secondary Share
						button.btn.btn-sm.btn-outline-secondary Export

