extends layout

block content
	.container-fluid.p-0.m-0
		nav.navbar.mynavbar.sticky-top.px-2
			.container
				.d-none.d-md-block.py-2
					.d-flex.flex-row
						img.small_logo(src="/img/Logo.png")
						a.comp_name(href='/mainMenuAdmin') Admin toolkit
				.d-sm-flex.flex-sm-row.d-block.col.py-2.text-sm-left.text-center.pr-0
					.col.d-sm-flex.flex-sm-row.d-block.w-100.justify-content-start
						a.d-sm-flex.flex-sm-row.d-block.active-link(href='/faq') FAQ
					.col.w-100
					.col.d-sm-flex.flex-sm-row.d-block.w-100.text-sm-left.text-center.justify-content-end.pr-0
						a.d-sm-flex.flex-sm-row.d-block.active-link(href='/logout') Sign Out
	.wrapper
		nav#sidebar
			ul.list-unstyled.components
				li.active
					a.nav-link.active(href="/mainMenuAdmin") Dashboard
				li
					a.nav-link(href="/addEmployee") Add user
				li
					a.nav-link(href="/employees") Manage User
				li
					a.nav-link(href="/addAdmin") Add admin
				li
					a.nav-link(href="/admins") Manage admin
				li
					a.nav-link(href="/") Business analysis
		row
			main.col-md-9.ml-sm-auto.px-4
				h2 Welcome #{name}!

	p.mt-5.mb-3.text-muted &copy; 2018 Lynx
	