extends layout

block content

	.container-fluid.p-0.m-0
		nav.navbar.mynavbar.sticky-top.px-2
			.container
				.d-none.d-md-block.py-2
					.d-flex.flex-row
						img.small_logo(src="/img/Logo.png")
						a.comp_name(href='/') Employee Awards
				.d-sm-flex.flex-sm-row.d-block.col.py-2.text-sm-left.text-center.pr-0
					.col.d-sm-flex.flex-sm-row.d-block.w-100.justify-content-start
						a.d-sm-flex.flex-sm-row.d-block.active-link(href='mailto:lynx.no.reploy@gmail.com') Contact us			
						a.d-sm-flex.flex-sm-row.d-block.active-link(href='/faq') FAQ
					.col.w-100
					.col.d-sm-flex.flex-sm-row.d-block.w-100.text-sm-left.text-center.justify-content-end.pr-0
						a.d-sm-flex.flex-sm-row.d-block.active-link(href='/logout') Sign Out
						

	.wrapper
		nav#sidebar
			ul.list-unstyled.components
				li.active
					a.nav-link.active(href="/mainMenu") Dashboard
				li
					a.nav-link(href="/accountDetail") Account
				li
					a.nav-link(href="/newPassEmployee") Update Password
				li
					a.nav-link(href="/addSignature") Update Signature
				li
					a.nav-link(href="/addAward") Create Award
				li
					a.nav-link(href="/awards") Manage Award

	
		.row
			main.col-md-9.ml-sm-auto.px-4
				form(action='/postPassEmployee', method='post')
					fieldset
						legend Update your password
						.form-group
							label(for='pass1') Enter your Password
							input.form_control(required type='password' id='pass1' name='pass1' placeholder='password')
							
						.form-group
							label(for='pass2') Enter your Password Again!
							input.form_control(required type='password' id='pass2' name='pass2' placeholder='password' onkeyup="checkPass(); return false;")
							
							input.btn.btn-primary.btn-block(type="submit", id="sendNewPass")

	p.mt-5.mb-3.text-muted &copy; 2018 Lynx

	script.

		

		function checkPass(){
		var pass1 =document.getElementById('pass1');
		var pass2 =document.getElementById('pass2');
		var message = document.getElementById('sendNewPass');

		var goodColor = "#66cc66";
		var badColor = "#ff6666";

		if(pass1.value == pass2.value){
			pass2.style.backgroundColor = goodColor;
			message.style.color = goodColor;
			message.innerHTML = "Passwords Match!"
		}else{
			pass2.style.backgroundColor = badColor;
			message.style.color = badColor;
			message.innerHTML = "Passwords Do Not Match!"
		}
		}

